<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success!</h4>
    <p>Pizza updated succesfully! <a class="alert-link" asp-controller="Pizza" asp-action="Index">Click here to return to the pizza overview</a>.</p>
</div>