<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success!</h4>
    <p>Ingredient deleted succesfully! <a class="alert-link" asp-controller="Ingredient" asp-action="Index">Click here to return to the ingredients overview</a>.</p>
</div>